In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
data = {  'Rollnumber':['1','2','3','4','5','6','7','8','9','10'],
          'Name':['a','b','c','d','e','f','g','h','i','j'],
          'Gender':["m",'f','m','f','m','f','m','f','m','f'],
          'Marks1':[10,20,30,40,50,60,70,80,90,10],
          'Marks2':[20,40,60,80,90,80,40,60,20,10],
          'Marks3':[50,30,30,40,60,70,80,90,10,50]
        }

In [4]:
df = pd.DataFrame(data)
print(df)

  Rollnumber Name Gender  Marks1  Marks2  Marks3
0          1    a      m      10      20      50
1          2    b      f      20      40      30
2          3    c      m      30      60      30
3          4    d      f      40      80      40
4          5    e      m      50      90      60
5          6    f      f      60      80      70
6          7    g      m      70      40      80
7          8    h      f      80      60      90
8          9    i      m      90      20      10
9         10    j      f      10      10      50

In [5]:
col_list=list(df)
df['Total_Marks']=df[col_list].sum(axis=1)
print(df)

  Rollnumber Name Gender  Marks1  Marks2  Marks3  Total_Marks
0          1    a      m      10      20      50           80
1          2    b      f      20      40      30           90
2          3    c      m      30      60      30          120
3          4    d      f      40      80      40          160
4          5    e      m      50      90      60          200
5          6    f      f      60      80      70          210
6          7    g      m      70      40      80          190
7          8    h      f      80      60      90          230
8          9    i      m      90      20      10          120
9         10    j      f      10      10      50           70

In [6]:
min_m1=df['Marks1'].min()
print("minimum marks",min_m1)

minimum marks 10

In [7]:
max_m2=df['Marks2'].max()
print("maximum marks",max_m2)

maximum marks 90

In [8]:
avg_m3=df['Marks3'].mean()
print("average",avg_m3)

average 51.0

In [9]:
df['Average']=df[col_list].mean(axis=1)
greatest_avg=df['Average'].max()
print("highest average",greatest_avg)

highest average 76.66666666666667

In [10]:
student_greatest_avg=df.loc[df['Average']==greatest_avg,'Name'].tolist()
print("student got highest average",student_greatest_avg)

student got highest average ['h']

In [11]:
fail=df.loc[df['Marks2']<40]
fail['Name'].count()
print("failed_students",fail)

failed_students   Rollnumber Name Gender  Marks1  Marks2  Marks3  Total_Marks    Average
0          1    a      m      10      20      50           80  26.666667
8          9    i      m      90      20      10          120  40.000000
9         10    j      f      10      10      50           70  23.333333